apiVersion: v1
kind: Service
metadata:
  name: {{ include "aws-credential-manager.webhookServiceName" . }}
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "aws-credential-manager.labels" . | nindent 4 }}
spec:
  ports:
  - port: 443
    protocol: TCP
    targetPort: 9443
  selector:
    {{- include "aws-credential-manager.labels" . | nindent 4 }}
